In [1]:
import yfinance as yf
import datetime
import pandas as pd

def download_tesla_data():
    # Define the ticker symbol and the date range
    ticker_symbol = 'AAPL'
    end_date = datetime.date.today()
    start_date = end_date - datetime.timedelta(days=365)

    # Download the data using yfinance
    apple_data = yf.download(ticker_symbol, start=start_date, end=end_date)

    # Save the data to a CSV file
    csv_filename = 'apple_last_year_data.csv'
    apple_data.to_csv(csv_filename)

    print(f"Apple data from {start_date} to {end_date} has been saved to {csv_filename}.")

if __name__ == "__main__":
    download_tesla_data()

[*********************100%***********************]  1 of 1 completed

Apple data from 2023-12-18 to 2024-12-17 has been saved to apple_last_year_data.csv.

In [2]:
df = pd.read_csv("apple_last_year_data.csv")

df

,Price,Adj Close,Close,High,Low,Open,Volume
0,Ticker,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL
1,Date,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-12-18,194.9350128173828,195.88999938964844,196.6300048828125,194.38999938964844,196.08999633789062,55751900
3,2023-12-19,195.97988891601562,196.94000244140625,196.9499969482422,195.88999938964844,196.16000366210938,40714100
4,2023-12-20,193.88018798828125,194.8300018310547,197.67999267578125,194.8300018310547,196.89999389648438,52242800
...,...,...,...,...,...,...,...
248,2024-12-10,247.77000427246094,247.77000427246094,248.2100067138672,245.33999633789062,246.88999938964844,36914800
249,2024-12-11,246.49000549316406,246.49000549316406,250.8000030517578,246.25999450683594,247.9600067138672,45205800
250,2024-12-12,247.9600067138672,247.9600067138672,248.74000549316406,245.67999267578125,246.88999938964844,32777500
251,2024-12-13,248.1300048828125,248.1300048828125,249.2899932861328,246.24000549316406,247.82000732421875,33155300
252,2024-12-16,251.0399932861328,251.0399932861328,251.3800048828125,247.64999389648438,247.99000549316406,51665600

In [3]:
# Drop the first two rows
df = df.drop([0, 1])
    
# Reset the index after dropping rows
df = df.reset_index(drop=True)

In [4]:
# Rename columns
df = df.rename(columns={
    'Price': 'Date',
    'Adj Close': 'Price'
})

In [5]:
# Format the column
df['Date'] = pd.to_datetime(df['Date'])
df['Price'] = df['Price'].astype('float64')
df['Close'] = df['Close'].astype('float64')
df['High'] = df['High'].astype('float64')
df['Low'] = df['Low'].astype('float64')
df['Open'] = df['Open'].astype('float64')
df['Volume'] = df['Volume'].astype('float64')

In [6]:
df.dtypes

Date      datetime64[ns]
Price            float64
Close            float64
High             float64
Low              float64
Open             float64
Volume           float64
dtype: object

In [7]:
df

,Date,Price,Close,High,Low,Open,Volume
0,2023-12-18,194.935013,195.889999,196.630005,194.389999,196.089996,55751900.0
1,2023-12-19,195.979889,196.940002,196.949997,195.889999,196.160004,40714100.0
2,2023-12-20,193.880188,194.830002,197.679993,194.830002,196.899994,52242800.0
3,2023-12-21,193.730881,194.679993,197.080002,193.500000,196.100006,46482500.0
4,2023-12-22,192.656174,193.600006,195.410004,192.970001,195.179993,37122800.0
...,...,...,...,...,...,...,...
246,2024-12-10,247.770004,247.770004,248.210007,245.339996,246.889999,36914800.0
247,2024-12-11,246.490005,246.490005,250.800003,246.259995,247.960007,45205800.0
248,2024-12-12,247.960007,247.960007,248.740005,245.679993,246.889999,32777500.0
249,2024-12-13,248.130005,248.130005,249.289993,246.240005,247.820007,33155300.0
250,2024-12-16,251.039993,251.039993,251.380005,247.649994,247.990005,51665600.0

In [8]:
df.to_csv("apple_last_year_data.csv")