In [1]:
import os
import sqlite3
import pandas as pd
from typing import List, Union, Literal, Sequence, TypedDict, Annotated
from pydantic import BaseModel
import functools
import operator
from langchain_anthropic import ChatAnthropic
from langchain.agents import AgentExecutor, create_sql_agent
from langchain_core.messages import BaseMessage, HumanMessage, SystemMessage
from langchain_core.prompts import ChatPromptTemplate, MessagesPlaceholder
from langchain_community.agent_toolkits.sql.toolkit import SQLDatabaseToolkit
from langchain_community.utilities.sql_database import SQLDatabase
from langgraph.prebuilt import ToolExecutor
from langgraph.graph import END, StateGraph, START

# Configuration
ANTHROPIC_API_KEY = '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'
DB_PATH = "apple_last_year_data.csv"

def init_database(csv_path: str):
    try:
        conn = sqlite3.connect('consumption.db', check_same_thread=False)
        df = pd.read_csv(csv_path)
        df.to_sql('consumption', conn, index=False, if_exists='replace')
        return SQLDatabase.from_uri("sqlite:///consumption.db")
    except Exception as e:
        print(f"Error initializing database: {str(e)}")
        raise

def init_llm():
    try:
        return ChatAnthropic(
            model="claude-3-sonnet-20240229",
            temperature=0,
            api_key=ANTHROPIC_API_KEY
        )
    except Exception as e:
        print(f"Error initializing LLM: {str(e)}")
        raise

TWO_SHOT_PREFIX = """You are an agent designed to interact with a SQL database.
Given an input question, create a syntactically correct SQL query to run.

Here are two examples:

Example 1:
Question: What was the total revenue in January?
Thought: I need to sum the revenue column for January.
Action: I should use the sql_db_query tool to query the database.
SQL: SELECT ROUND(SUM(revenue), 2) as total_revenue FROM consumption WHERE strftime('%m', date) = '01'

Example 2:
Question: Which product had the highest sales growth between Q1 and Q2?
Thought: I need to calculate sales growth between quarters and find the maximum.
Action: I should use the sql_db_query tool with a more complex query.
SQL: WITH q1_sales AS (
    SELECT product, SUM(revenue) as q1_rev
    FROM consumption 
    WHERE strftime('%m', date) IN ('01','02','03')
    GROUP BY product
),
q2_sales AS (
    SELECT product, SUM(revenue) as q2_rev
    FROM consumption 
    WHERE strftime('%m', date) IN ('04','05','06')
    GROUP BY product
)
SELECT 
    q1.product,
    ROUND(((q2.q2_rev - q1.q1_rev) / q1.q1_rev * 100), 2) as growth_rate
FROM q1_sales q1
JOIN q2_sales q2 ON q1.product = q2.product
ORDER BY growth_rate DESC
LIMIT 1

Now, follow these guidelines for new queries:
- Do not use LIMIT statements unless specifically asked
- Round numeric results to two decimal places
- Avoid complex SQL queries with division when possible
- Perform operations step by step
- Pay attention to all conditions mentioned in the query
- For questions on market share, use column="Amount" unless stated otherwise
- YTD or ytd = Year to Date
- Don't assume current year unless specified

The schema of the table is: consumption

Remember:
1. Include appropriate table joins if needed
2. Ensure all column references are valid
3. Use proper SQL syntax and formatting"""

def setup_sql_agent(db_path: str):
    try:
        db = init_database(db_path)
        llm = init_llm()
        toolkit = SQLDatabaseToolkit(db=db, llm=llm)
        
        # Create the SQL agent using zero-shot-react-description
        agent_executor = create_sql_agent(
            llm=llm,
            toolkit=toolkit,
            agent_type="zero-shot-react-description",
            verbose=True,
            prefix=TWO_SHOT_PREFIX
        )
        
        return agent_executor
    except Exception as e:
        print(f"Error setting up SQL agent: {str(e)}")
        raise

class AgentState(TypedDict):
    messages: Annotated[Sequence[BaseMessage], operator.add]
    next: str

def agent_node(state: AgentState, agent_executor):
    try:
        # Extract the last message content
        last_message = state["messages"][-1].content
        
        # Run the agent
        result = agent_executor.invoke({
            "input": last_message
        })
        
        # Return the result as a message
        return {"messages": [HumanMessage(content=str(result["output"]))]}
    except Exception as e:
        print(f"Error in agent node: {str(e)}")
        return {"messages": [HumanMessage(content=f"Error: {str(e)}")]}

def create_workflow(agent_executor):
    try:
        workflow = StateGraph(AgentState)
        
        # Create the agent node
        sql_node = functools.partial(agent_node, agent_executor=agent_executor)
        workflow.add_node("sql_agent", sql_node)
        
        # Add edges
        workflow.add_edge(START, "sql_agent")
        workflow.add_edge("sql_agent", END)
        
        return workflow.compile()
    except Exception as e:
        print(f"Error creating workflow: {str(e)}")
        raise

def run_sql_query(query: str, db_path: str):
    try:
        # Setup agent
        agent_executor = setup_sql_agent(db_path)
        
        # For debugging, print the table schema
        db = init_database(db_path)
        print("\nDatabase Schema:")
        print(db.get_table_info())
        
        # Create workflow
        graph = create_workflow(agent_executor)
        
        # Run query
        results = []
        for s in graph.stream({
            "messages": [HumanMessage(content=query)]
        }):
            if "__end__" not in s:
                results.append(s)
        
        return results
    except Exception as e:
        print(f"Error running SQL query: {str(e)}")
        return [{"messages": [HumanMessage(content=f"Error: {str(e)}")]}]

def main():
    try:
        # Example queries
        queries = [
            "which date has the highest close?",
            "Which month had the best performance?"
        ]
        
        for query in queries:
            print(f"\nExecuting query: {query}")
            print("-" * 50)
            
            results = run_sql_query(query, DB_PATH)
            for result in results:
                print(result)
                print("-" * 50)
                
    except Exception as e:
        print(f"Error in main execution: {str(e)}")

if __name__ == "__main__":
    main()

Executing query: which date has the highest close?
--------------------------------------------------

Database Schema:

CREATE TABLE consumption (
	"Unnamed: 0" INTEGER,
	"Date" TEXT,
	"Price" REAL,
	"Close" REAL,
	"High" REAL,
	"Low" REAL,
	"Open" REAL,
	"Volume" REAL
)

/*
3 rows from consumption table:
Unnamed: 0	Date	Price	Close	High	Low	Open	Volume
0	2023-12-18	194.9350128173828	195.88999938964844	196.6300048828125	194.38999938964844	196.08999633789065	55751900.0
1	2023-12-19	195.9798889160156	196.94000244140625	196.9499969482422	195.88999938964844	196.16000366210935	40714100.0
2	2023-12-20	193.88018798828125	194.8300018310547	197.67999267578125	194.8300018310547	196.8999938964844	52242800.0
*/


> Entering new SQL Agent Executor chain...
Thought: To see what tables are available in the database, I should first list the tables.
Action: sql_db_list_tables
Action Input: ""consumptionThought: Since there is only one table 'consumption' in the database, I should query its schema to see what columns are available.
Action: sql_db_schema
Action Input: consumption
CREATE TABLE consumption (
	"Unnamed: 0" INTEGER,
	"Date" TEXT,
	"Price" REAL,
	"Close" REAL,
	"High" REAL,
	"Low" REAL,
	"Open" REAL,
	"Volume" REAL
)

/*
3 rows from consumption table:
Unnamed: 0	Date	Price	Close	High	Low	Open	Volume
0	2023-12-18	194.9350128173828	195.88999938964844	196.6300048828125	194.38999938964844	196.08999633789065	55751900.0
1	2023-12-19	195.9798889160156	196.94000244140625	196.9499969482422	195.88999938964844	196.16000366210935	40714100.0
2	2023-12-20	193.88018798828125	194.8300018310547	197.67999267578125	194.8300018310547	196.8999938964844	52242800.0
*/Thought: To find the date with the highest close value, I can query the 'Close' column from the consumption table and order the results descending to get the maximum value at the top. I should also select the 'Date' column to know which date corresponds to the maximum close value.
Action: sql_db_query_checker
Action Input: SELECT "Date", "Close" FROM consumption ORDER BY "Close" DESC;SELECT "Date", "Close" FROM consumption ORDER BY "Close" DESC;Thought: The query looks correct to get the date with the highest close value from the consumption table. I can execute it now to get the final answer.

Action: sql_db_query
Action Input: SELECT "Date", "Close" FROM consumption ORDER BY "Close" DESC;
[('2024-12-16', 251.0399932861328), ('2024-12-13', 248.1300048828125), ('2024-12-12', 247.9600067138672), ('2024-12-10', 247.77000427246097), ('2024-12-09', 246.75), ('2024-12-11', 246.4900054931641), ('2024-12-05', 243.0399932861328), ('2024-12-04', 243.0099945068359), ('2024-12-06', 242.83999633789065), ('2024-12-03', 242.6499938964844), ('2024-12-02', 239.58999633789065), ('2024-11-29', 237.3300018310547), ('2024-10-21', 236.47999572753903), ('2024-10-22', 235.86000061035156), ('2024-11-26', 235.05999755859375), ('2024-10-18', 235.0), ('2024-11-27', 234.92999267578125), ('2024-07-16', 234.82000732421875), ('2024-07-15', 234.3999938964844), ('2024-10-15', 233.8500061035156), ('2024-10-29', 233.6699981689453), ('2024-10-28', 233.3999938964844), ('2024-09-30', 233.0), ('2024-07-10', 232.97999572753903), ('2024-11-25', 232.8699951171875), ('2024-10-17', 232.1499938964844), ('2024-10-16', 231.77999877929688), ('2024-10-25', 231.41000366210935), ('2024-10-14', 231.3000030517578), ('2024-10-23', 230.7599945068359), ('2024-10-24', 230.57000732421875), ('2024-07-12', 230.5399932861328), ('2024-10-30', 230.1000061035156), ('2024-11-22', 229.8699951171875), ('2024-08-29', 229.7899932861328), ('2024-10-09', 229.5399932861328), ('2024-10-10', 229.0399932861328), ('2024-08-30', 229.0), ('2024-11-20', 229.0), ('2024-07-17', 228.8800048828125), ('2024-09-19', 228.8699951171875), ('2024-07-09', 228.67999267578125), ('2024-11-21', 228.52000427246097), ('2024-11-19', 228.27999877929688), ('2024-11-14', 228.22000122070312), ('2024-09-20', 228.1999969482422), ('2024-08-27', 228.02999877929688), ('2024-11-18', 228.02000427246097), ('2024-07-08', 227.82000732421875), ('2024-09-27', 227.7899932861328), ('2024-07-11', 227.57000732421875), ('2024-10-11', 227.5500030517578), ('2024-09-26', 227.52000427246097), ('2024-11-07', 227.47999572753903), ('2024-09-24', 227.3699951171875), ('2024-08-26', 227.17999267578125), ('2024-11-08', 226.9600067138672), ('2024-08-23', 226.83999633789065), ('2024-10-04', 226.8000030517578), ('2024-10-02', 226.77999877929688), ('2024-08-20', 226.5099945068359), ('2024-08-28', 226.4900054931641), ('2024-09-23', 226.47000122070312), ('2024-08-21', 226.3999938964844), ('2024-09-25', 226.3699951171875), ('2024-07-05', 226.33999633789065), ('2024-10-01', 226.2100067138672), ('2024-08-16', 226.0500030517578), ('2024-10-31', 225.91000366210935), ('2024-08-19', 225.88999938964844), ('2024-10-08', 225.77000427246097), ('2024-10-03', 225.6699981689453), ('2024-11-13', 225.1199951171875), ('2024-07-23', 225.0099945068359), ('2024-11-15', 225.0), ('2024-08-15', 224.72000122070312), ('2024-08-22', 224.52999877929688), ('2024-07-19', 224.30999755859375), ('2024-11-11', 224.22999572753903), ('2024-11-12', 224.22999572753903), ('2024-07-18', 224.17999267578125), ('2024-07-22', 223.9600067138672), ('2024-11-05', 223.4499969482422), ('2024-11-01', 222.91000366210935), ('2024-09-03', 222.77000427246097), ('2024-09-12', 222.77000427246097), ('2024-11-06', 222.72000122070312), ('2024-09-11', 222.66000366210935), ('2024-09-13', 222.5), ('2024-09-05', 222.3800048828125), ('2024-07-31', 222.0800018310547), ('2024-11-04', 222.0099945068359), ('2024-08-14', 221.72000122070312), ('2024-10-07', 221.69000244140625), ('2024-07-03', 221.5500030517578), ('2024-08-13', 221.27000427246097), ('2024-09-09', 220.91000366210935), ('2024-09-04', 220.8500061035156), ('2024-09-06', 220.82000732421875), ('2024-09-18', 220.69000244140625), ('2024-07-02', 220.27000427246097), ('2024-09-10', 220.11000061035156), ('2024-08-02', 219.86000061035156), ('2024-07-30', 218.8000030517578), ('2024-07-24', 218.5399932861328), ('2024-08-01', 218.36000061035156), ('2024-07-29', 218.2400054931641), ('2024-07-26', 217.9600067138672), ('2024-08-12', 217.52999877929688), ('2024-07-25', 217.4900054931641), ('2024-09-17', 216.7899932861328), ('2024-07-01', 216.75), ('2024-06-17', 216.6699981689453), ('2024-09-16', 216.32000732421875), ('2024-08-09', 216.2400054931641), ('2024-06-18', 214.2899932861328), ('2024-06-13', 214.2400054931641), ('2024-06-27', 214.1000061035156), ('2024-08-08', 213.30999755859375), ('2024-06-26', 213.25), ('2024-06-12', 213.07000732421875), ('2024-06-14', 212.4900054931641), ('2024-06-28', 210.6199951171875), ('2024-08-07', 209.82000732421875), ('2024-06-20', 209.67999267578125), ('2024-08-05', 209.27000427246097), ('2024-06-25', 209.07000732421875), ('2024-06-24', 208.13999938964844), ('2024-06-21', 207.4900054931641), ('2024-08-06', 207.22999572753903), ('2024-06-11', 207.1499938964844), ('2023-12-19', 196.94000244140625), ('2024-06-07', 196.88999938964844), ('2023-12-18', 195.88999938964844), ('2024-06-05', 195.8699951171875), ('2024-01-23', 195.17999267578125), ('2023-12-20', 194.8300018310547), ('2023-12-21', 194.67999267578125), ('2024-01-24', 194.5), ('2024-06-06', 194.47999572753903), ('2024-06-04', 194.3500061035156), ('2024-01-25', 194.1699981689453), ('2024-06-03', 194.02999877929688), ('2024-01-22', 193.88999938964844), ('2023-12-22', 193.6000061035156), ('2023-12-28', 193.5800018310547), ('2023-12-27', 193.1499938964844), ('2024-06-10', 193.1199951171875), ('2023-12-26', 193.0500030517578), ('2023-12-29', 192.52999877929688), ('2024-01-26', 192.4199981689453), ('2024-05-21', 192.3500061035156), ('2024-05-31', 192.25), ('2024-01-29', 191.72999572753903), ('2024-01-19', 191.55999755859375), ('2024-05-30', 191.2899932861328), ('2024-05-20', 191.0399932861328), ('2024-05-22', 190.8999938964844), ('2024-05-29', 190.2899932861328), ('2024-05-28', 189.9900054931641), ('2024-05-24', 189.97999572753903), ('2024-05-17', 189.8699951171875), ('2024-05-16', 189.83999633789065), ('2024-05-15', 189.72000122070312), ('2024-02-07', 189.41000366210935), ('2024-02-06', 189.3000030517578), ('2024-02-09', 188.8500061035156), ('2024-01-18', 188.6300048828125), ('2024-02-08', 188.32000732421875), ('2024-01-30', 188.0399932861328), ('2024-02-05', 187.67999267578125), ('2024-05-14', 187.42999267578125), ('2024-02-12', 187.1499938964844), ('2024-05-23', 186.8800048828125), ('2024-02-01', 186.86000061035156), ('2024-05-13', 186.27999877929688), ('2024-01-10', 186.19000244140625), ('2024-01-12', 185.9199981689453), ('2024-02-02', 185.8500061035156), ('2024-01-02', 185.63999938964844), ('2024-01-11', 185.58999633789065), ('2024-01-08', 185.55999755859375), ('2024-01-09', 185.13999938964844), ('2024-02-13', 185.0399932861328), ('2024-05-09', 184.57000732421875), ('2024-01-31', 184.3999938964844), ('2024-02-22', 184.3699951171875), ('2024-01-03', 184.25), ('2024-02-14', 184.1499938964844), ('2024-02-15', 183.86000061035156), ('2024-01-16', 183.6300048828125), ('2024-05-03', 183.3800048828125), ('2024-05-10', 183.0500030517578), ('2024-05-08', 182.7400054931641), ('2024-01-17', 182.67999267578125), ('2024-02-27', 182.6300048828125), ('2024-02-23', 182.52000427246097), ('2024-05-07', 182.3999938964844), ('2024-02-21', 182.32000732421875), ('2024-02-16', 182.30999755859375), ('2024-01-04', 181.91000366210935), ('2024-05-06', 181.7100067138672), ('2024-02-20', 181.55999755859375), ('2024-02-28', 181.4199981689453), ('2024-01-05', 181.17999267578125), ('2024-02-26', 181.16000366210935), ('2024-02-29', 180.75), ('2024-03-01', 179.66000366210938), ('2024-03-20', 178.6699981689453), ('2024-04-12', 176.5500030517578), ('2024-03-19', 176.0800018310547), ('2024-03-04', 175.10000610351562), ('2024-04-11', 175.0399932861328), ('2024-03-18', 173.72000122070312), ('2024-04-29', 173.5), ('2024-03-27', 173.30999755859375), ('2024-03-12', 173.22999572753906), ('2024-05-02', 173.02999877929688), ('2024-03-14', 173.0), ('2024-03-11', 172.75), ('2024-04-15', 172.69000244140625), ('2024-03-15', 172.6199951171875), ('2024-03-22', 172.27999877929688), ('2024-03-28', 171.47999572753906), ('2024-03-21', 171.3699951171875), ('2024-03-13', 171.1300048828125), ('2024-03-25', 170.85000610351562), ('2024-03-08', 170.72999572753906), ('2024-04-30', 170.3300018310547), ('2024-03-05', 170.1199951171875), ('2024-04-01', 170.02999877929688), ('2024-04-25', 169.88999938964844), ('2024-03-26', 169.7100067138672), ('2024-04-09', 169.6699981689453), ('2024-04-03', 169.64999389648438), ('2024-04-05', 169.5800018310547), ('2024-04-16', 169.3800048828125), ('2024-04-26', 169.3000030517578), ('2024-05-01', 169.3000030517578), ('2024-03-06', 169.1199951171875), ('2024-04-24', 169.02000427246094), ('2024-03-07', 169.0), ('2024-04-02', 168.83999633789062), ('2024-04-04', 168.82000732421875), ('2024-04-08', 168.4499969482422), ('2024-04-17', 168.0), ('2024-04-10', 167.77999877929688), ('2024-04-18', 167.0399932861328), ('2024-04-23', 166.89999389648438), ('2024-04-22', 165.83999633789062), ('2024-04-19', 165.0)]The final answer is:

Final Answer: The date with the highest close value in the consumption table is 2024-12-16 with a close value of 251.04.

> Finished chain.
{'sql_agent': {'messages': [HumanMessage(content='The date with the highest close value in the consumption table is 2024-12-16 with a close value of 251.04.', additional_kwargs={}, response_metadata={})]}}
--------------------------------------------------

Executing query: Which month had the best performance?
--------------------------------------------------

Database Schema:

CREATE TABLE consumption (
	"Unnamed: 0" INTEGER,
	"Date" TEXT,
	"Price" REAL,
	"Close" REAL,
	"High" REAL,
	"Low" REAL,
	"Open" REAL,
	"Volume" REAL
)

/*
3 rows from consumption table:
Unnamed: 0	Date	Price	Close	High	Low	Open	Volume
0	2023-12-18	194.9350128173828	195.88999938964844	196.6300048828125	194.38999938964844	196.08999633789065	55751900.0
1	2023-12-19	195.9798889160156	196.94000244140625	196.9499969482422	195.88999938964844	196.16000366210935	40714100.0
2	2023-12-20	193.88018798828125	194.8300018310547	197.67999267578125	194.8300018310547	196.8999938964844	52242800.0
*/


> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: ""consumptionThought: The consumption table seems to be the only relevant table for this query. I should check its schema to see what columns are available.
Action: sql_db_schema
Action Input: consumption
CREATE TABLE consumption (
	"Unnamed: 0" INTEGER,
	"Date" TEXT,
	"Price" REAL,
	"Close" REAL,
	"High" REAL,
	"Low" REAL,
	"Open" REAL,
	"Volume" REAL
)

/*
3 rows from consumption table:
Unnamed: 0	Date	Price	Close	High	Low	Open	Volume
0	2023-12-18	194.9350128173828	195.88999938964844	196.6300048828125	194.38999938964844	196.08999633789065	55751900.0
1	2023-12-19	195.9798889160156	196.94000244140625	196.9499969482422	195.88999938964844	196.16000366210935	40714100.0
2	2023-12-20	193.88018798828125	194.8300018310547	197.67999267578125	194.8300018310547	196.8999938964844	52242800.0
*/Thought: To find the month with the best performance, I need to aggregate the data by month and look at some performance metric like total revenue or average price. The Date column seems to be in a date format, so I can extract the month from it.
Action: sql_db_query_checker
Action Input:
SELECT
    strftime('%m', Date) AS month,
    SUM(Price) AS total_revenue
FROM consumption
GROUP BY month
ORDER BY total_revenue DESC
LIMIT 1;SELECT
    strftime('%m', Date) AS month,
    SUM(Price) AS total_revenue
FROM consumption
GROUP BY month
ORDER BY total_revenue DESC
LIMIT 1;Thought: The query looks good to find the month with the highest total revenue. I can execute it now to get the final answer.

Action: sql_db_query
Action Input:
SELECT
    strftime('%m', Date) AS month,
    ROUND(SUM(Price), 2) AS total_revenue
FROM consumption
GROUP BY month
ORDER BY total_revenue DESC
LIMIT 1;
[('10', 5285.47)]Error in agent node: An output parsing error occurred. In order to pass this error back to the agent and have it try again, pass `handle_parsing_errors=True` to the AgentExecutor. This is the error: Could not parse LLM output: `The month with the best performance, in terms of highest total revenue from the Price column, was month 10.`
For troubleshooting, visit: https://python.langchain.com/docs/troubleshooting/errors/OUTPUT_PARSING_FAILURE
{'sql_agent': {'messages': [HumanMessage(content='Error: An output parsing error occurred. In order to pass this error back to the agent and have it try again, pass `handle_parsing_errors=True` to the AgentExecutor. This is the error: Could not parse LLM output: `The month with the best performance, in terms of highest total revenue from the Price column, was month 10.`\nFor troubleshooting, visit: https://python.langchain.com/docs/troubleshooting/errors/OUTPUT_PARSING_FAILURE ', additional_kwargs={}, response_metadata={})]}}
--------------------------------------------------