In [58]:
import os
import sqlite3
import pandas as pd
from typing import List, Union, Literal, Sequence, TypedDict, Annotated
from pydantic import BaseModel
import functools
import operator
from langchain_anthropic import ChatAnthropic
from langchain.agents import AgentExecutor, create_sql_agent
from langchain_core.messages import BaseMessage, HumanMessage, SystemMessage
from langchain_core.prompts import ChatPromptTemplate, MessagesPlaceholder
from langchain_community.agent_toolkits.sql.toolkit import SQLDatabaseToolkit
from langchain_community.utilities.sql_database import SQLDatabase
from langgraph.prebuilt import ToolExecutor
from langgraph.graph import END, StateGraph, START

# Configuration
ANTHROPIC_API_KEY = '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'
DB_PATH = "tesla_last_year_data.csv"

def init_database(csv_path: str):
    try:
        conn = sqlite3.connect('consumption.db', check_same_thread=False)
        df = pd.read_csv(csv_path)
        df.to_sql('consumption', conn, index=False, if_exists='replace')
        return SQLDatabase.from_uri("sqlite:///consumption.db")
    except Exception as e:
        print(f"Error initializing database: {str(e)}")
        raise

def init_llm():
    try:
        return ChatAnthropic(
            model="claude-3-sonnet-20240229",
            temperature=0,
            api_key=ANTHROPIC_API_KEY
        )
    except Exception as e:
        print(f"Error initializing LLM: {str(e)}")
        raise

TWO_SHOT_PREFIX = """You are an agent designed to interact with a SQL database.
Given an input question, create a syntactically correct SQL query to run.

Here are two examples:

Example 1:
Question: What was the total revenue in January?
Thought: I need to sum the revenue column for January.
Action: I should use the sql_db_query tool to query the database.
SQL: SELECT ROUND(SUM(revenue), 2) as total_revenue FROM consumption WHERE strftime('%m', date) = '01'

Example 2:
Question: Which product had the highest sales growth between Q1 and Q2?
Thought: I need to calculate sales growth between quarters and find the maximum.
Action: I should use the sql_db_query tool with a more complex query.
SQL: WITH q1_sales AS (
    SELECT product, SUM(revenue) as q1_rev
    FROM consumption 
    WHERE strftime('%m', date) IN ('01','02','03')
    GROUP BY product
),
q2_sales AS (
    SELECT product, SUM(revenue) as q2_rev
    FROM consumption 
    WHERE strftime('%m', date) IN ('04','05','06')
    GROUP BY product
)
SELECT 
    q1.product,
    ROUND(((q2.q2_rev - q1.q1_rev) / q1.q1_rev * 100), 2) as growth_rate
FROM q1_sales q1
JOIN q2_sales q2 ON q1.product = q2.product
ORDER BY growth_rate DESC
LIMIT 1

Now, follow these guidelines for new queries:
- Do not use LIMIT statements unless specifically asked
- Round numeric results to two decimal places
- Avoid complex SQL queries with division when possible
- Perform operations step by step
- Pay attention to all conditions mentioned in the query
- For questions on market share, use column="Amount" unless stated otherwise
- YTD or ytd = Year to Date
- Don't assume current year unless specified

The schema of the table is: consumption

Remember:
1. Include appropriate table joins if needed
2. Ensure all column references are valid
3. Use proper SQL syntax and formatting"""

def setup_sql_agent(db_path: str):
    try:
        db = init_database(db_path)
        llm = init_llm()
        toolkit = SQLDatabaseToolkit(db=db, llm=llm)
        
        # Create the SQL agent using zero-shot-react-description
        agent_executor = create_sql_agent(
            llm=llm,
            toolkit=toolkit,
            agent_type="zero-shot-react-description",
            verbose=True,
            prefix=TWO_SHOT_PREFIX
        )
        
        return agent_executor
    except Exception as e:
        print(f"Error setting up SQL agent: {str(e)}")
        raise

class AgentState(TypedDict):
    messages: Annotated[Sequence[BaseMessage], operator.add]
    next: str

def agent_node(state: AgentState, agent_executor):
    try:
        # Extract the last message content
        last_message = state["messages"][-1].content
        
        # Run the agent
        result = agent_executor.invoke({
            "input": last_message
        })
        
        # Return the result as a message
        return {"messages": [HumanMessage(content=str(result["output"]))]}
    except Exception as e:
        print(f"Error in agent node: {str(e)}")
        return {"messages": [HumanMessage(content=f"Error: {str(e)}")]}

def create_workflow(agent_executor):
    try:
        workflow = StateGraph(AgentState)
        
        # Create the agent node
        sql_node = functools.partial(agent_node, agent_executor=agent_executor)
        workflow.add_node("sql_agent", sql_node)
        
        # Add edges
        workflow.add_edge(START, "sql_agent")
        workflow.add_edge("sql_agent", END)
        
        return workflow.compile()
    except Exception as e:
        print(f"Error creating workflow: {str(e)}")
        raise

def run_sql_query(query: str, db_path: str):
    try:
        # Setup agent
        agent_executor = setup_sql_agent(db_path)
        
        # For debugging, print the table schema
        db = init_database(db_path)
        print("\nDatabase Schema:")
        print(db.get_table_info())
        
        # Create workflow
        graph = create_workflow(agent_executor)
        
        # Run query
        results = []
        for s in graph.stream({
            "messages": [HumanMessage(content=query)]
        }):
            if "__end__" not in s:
                results.append(s)
        
        return results
    except Exception as e:
        print(f"Error running SQL query: {str(e)}")
        return [{"messages": [HumanMessage(content=f"Error: {str(e)}")]}]

def main():
    try:
        # Example queries
        queries = [
            "What are the top performance months for the company?",
            "What is the total revenue for each quarter?",
            "What is the average monthly performance?"
        ]
        
        for query in queries:
            print(f"\nExecuting query: {query}")
            print("-" * 50)
            
            results = run_sql_query(query, DB_PATH)
            for result in results:
                print(result)
                print("-" * 50)
                
    except Exception as e:
        print(f"Error in main execution: {str(e)}")

if __name__ == "__main__":
    main()

Executing query: What are the top performance months for the company?
--------------------------------------------------

Database Schema:

CREATE TABLE consumption (
	"Price" TEXT,
	"Adj Close" TEXT,
	"Close" TEXT,
	"High" TEXT,
	"Low" TEXT,
	"Open" TEXT,
	"Volume" TEXT
)

/*
3 rows from consumption table:
Price	Adj Close	Close	High	Low	Open	Volume
Ticker	TSLA	TSLA	TSLA	TSLA	TSLA	TSLA
Date	None	None	None	None	None	None
2023-12-18	252.0800018310547	252.0800018310547	258.739990234375	251.36000061035156	253.77999877929688	116416500
*/


> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: ""consumptionThought: The consumption table seems to be the only relevant table for this query. I should check its schema to see what columns are available.
Action: sql_db_schema
Action Input: consumption
CREATE TABLE consumption (
	"Price" TEXT,
	"Adj Close" TEXT,
	"Close" TEXT,
	"High" TEXT,
	"Low" TEXT,
	"Open" TEXT,
	"Volume" TEXT
)

/*
3 rows from consumption table:
Price	Adj Close	Close	High	Low	Open	Volume
Ticker	TSLA	TSLA	TSLA	TSLA	TSLA	TSLA
Date	None	None	None	None	None	None
2023-12-18	252.0800018310547	252.0800018310547	258.739990234375	251.36000061035156	253.77999877929688	116416500
*/Thought: The consumption table does not seem to have any columns related to revenue or sales performance by month. Without relevant data, I cannot determine the top performance months for the company.

Final Answer: Unfortunately, there is not enough information in the provided database to determine the top performance months for the company. The consumption table does not contain any data related to sales, revenue or performance metrics broken down by month.

> Finished chain.
{'sql_agent': {'messages': [HumanMessage(content='Unfortunately, there is not enough information in the provided database to determine the top performance months for the company. The consumption table does not contain any data related to sales, revenue or performance metrics broken down by month.', additional_kwargs={}, response_metadata={})]}}
--------------------------------------------------

Executing query: What is the total revenue for each quarter?
--------------------------------------------------

Database Schema:

CREATE TABLE consumption (
	"Price" TEXT,
	"Adj Close" TEXT,
	"Close" TEXT,
	"High" TEXT,
	"Low" TEXT,
	"Open" TEXT,
	"Volume" TEXT
)

/*
3 rows from consumption table:
Price	Adj Close	Close	High	Low	Open	Volume
Ticker	TSLA	TSLA	TSLA	TSLA	TSLA	TSLA
Date	None	None	None	None	None	None
2023-12-18	252.0800018310547	252.0800018310547	258.739990234375	251.36000061035156	253.77999877929688	116416500
*/


> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: ""consumptionThought: The consumption table seems relevant for this query. I should check the schema of that table.
Action: sql_db_schema
Action Input: consumption
CREATE TABLE consumption (
	"Price" TEXT,
	"Adj Close" TEXT,
	"Close" TEXT,
	"High" TEXT,
	"Low" TEXT,
	"Open" TEXT,
	"Volume" TEXT
)

/*
3 rows from consumption table:
Price	Adj Close	Close	High	Low	Open	Volume
Ticker	TSLA	TSLA	TSLA	TSLA	TSLA	TSLA
Date	None	None	None	None	None	None
2023-12-18	252.0800018310547	252.0800018310547	258.739990234375	251.36000061035156	253.77999877929688	116416500
*/Thought: The consumption table does not seem to have a revenue column. I may need to calculate revenue from the price and volume columns. To get quarterly revenue, I'll need to group by quarter and sum the calculated revenue values.

Action: sql_db_query_checker
Action Input:
WITH quarterly_data AS (
  SELECT
    strftime('%Y', Date) AS year,
    strftime('%m', Date) AS month,
    CASE
      WHEN strftime('%m', Date) IN ('01', '02', '03') THEN 1
      WHEN strftime('%m', Date) IN ('04', '05', '06') THEN 2
      WHEN strftime('%m', Date) IN ('07', '08', '09') THEN 3
      ELSE 4
    END AS quarter,
    CAST(REPLACE(Price, ',', '') AS FLOAT) * CAST(REPLACE(Volume, ',', '') AS FLOAT) AS revenue
  FROM consumption
)
SELECT
  year,
  quarter,
  ROUND(SUM(revenue), 2) AS total_revenue
FROM quarterly_data
GROUP BY year, quarter
ORDER BY year, quarter;
WITH quarterly_data AS (
  SELECT
    strftime('%Y', Date) AS year,
    strftime('%m', Date) AS month,
    CASE
      WHEN strftime('%m', Date) IN ('01', '02', '03') THEN 1
      WHEN strftime('%m', Date) IN ('04', '05', '06') THEN 2
      WHEN strftime('%m', Date) IN ('07', '08', '09') THEN 3
      ELSE 4
    END AS quarter,
    CAST(REPLACE(Price, ',', '') AS FLOAT) * CAST(REPLACE(Volume, ',', '') AS FLOAT) AS revenue
  FROM consumption
)
SELECT
  year,
  quarter,
  ROUND(SUM(revenue), 2) AS total_revenue
FROM quarterly_data
GROUP BY year, quarter
ORDER BY year, quarter;Thought: The query looks good. It first calculates the revenue by multiplying the price and volume columns after removing commas and casting to float. It then groups this calculated revenue by year and quarter and sums it to get the total quarterly revenue. The ROUND function rounds the result to 2 decimal places.

Final Answer: The query to get the total revenue for each quarter is:

WITH quarterly_data AS (
  SELECT
    strftime('%Y', Date) AS year,
    strftime('%m', Date) AS month,
    CASE
      WHEN strftime('%m', Date) IN ('01', '02', '03') THEN 1
      WHEN strftime('%m', Date) IN ('04', '05', '06') THEN 2
      WHEN strftime('%m', Date) IN ('07', '08', '09') THEN 3
      ELSE 4
    END AS quarter,
    CAST(REPLACE(Price, ',', '') AS FLOAT) * CAST(REPLACE(Volume, ',', '') AS FLOAT) AS revenue
  FROM consumption
)
SELECT
  year,
  quarter,
  ROUND(SUM(revenue), 2) AS total_revenue
FROM quarterly_data
GROUP BY year, quarter
ORDER BY year, quarter;

> Finished chain.
{'sql_agent': {'messages': [HumanMessage(content="The query to get the total revenue for each quarter is:\n\nWITH quarterly_data AS (\n  SELECT \n    strftime('%Y', Date) AS year,\n    strftime('%m', Date) AS month,\n    CASE \n      WHEN strftime('%m', Date) IN ('01', '02', '03') THEN 1\n      WHEN strftime('%m', Date) IN ('04', '05', '06') THEN 2  \n      WHEN strftime('%m', Date) IN ('07', '08', '09') THEN 3\n      ELSE 4\n    END AS quarter,\n    CAST(REPLACE(Price, ',', '') AS FLOAT) * CAST(REPLACE(Volume, ',', '') AS FLOAT) AS revenue\n  FROM consumption\n)\nSELECT \n  year,\n  quarter, \n  ROUND(SUM(revenue), 2) AS total_revenue\nFROM quarterly_data\nGROUP BY year, quarter\nORDER BY year, quarter;", additional_kwargs={}, response_metadata={})]}}
--------------------------------------------------

Executing query: What is the average monthly performance?
--------------------------------------------------

Database Schema:

CREATE TABLE consumption (
	"Price" TEXT,
	"Adj Close" TEXT,
	"Close" TEXT,
	"High" TEXT,
	"Low" TEXT,
	"Open" TEXT,
	"Volume" TEXT
)

/*
3 rows from consumption table:
Price	Adj Close	Close	High	Low	Open	Volume
Ticker	TSLA	TSLA	TSLA	TSLA	TSLA	TSLA
Date	None	None	None	None	None	None
2023-12-18	252.0800018310547	252.0800018310547	258.739990234375	251.36000061035156	253.77999877929688	116416500
*/


> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: ""consumptionThought: The consumption table seems relevant for this query. I should check the schema of that table.
Action: sql_db_schema
Action Input: consumption
CREATE TABLE consumption (
	"Price" TEXT,
	"Adj Close" TEXT,
	"Close" TEXT,
	"High" TEXT,
	"Low" TEXT,
	"Open" TEXT,
	"Volume" TEXT
)

/*
3 rows from consumption table:
Price	Adj Close	Close	High	Low	Open	Volume
Ticker	TSLA	TSLA	TSLA	TSLA	TSLA	TSLA
Date	None	None	None	None	None	None
2023-12-18	252.0800018310547	252.0800018310547	258.739990234375	251.36000061035156	253.77999877929688	116416500
*/Thought: To calculate the average monthly performance, I need to group the data by month and take the average of a relevant column like "Adj Close" or "Close". I'll use the "Adj Close" column since it adjusts for things like stock splits.
Action: sql_db_query_checker
Action Input:
SELECT
    strftime('%Y-%m', Date) AS month,
    ROUND(AVG(CAST("Adj Close" AS FLOAT)), 2) AS avg_monthly_performance
FROM consumption
WHERE "Adj Close" <> ''
GROUP BY month
ORDER BY month;SELECT
    strftime('%Y-%m', Date) AS month,
    ROUND(AVG(CAST("Adj Close" AS FLOAT)), 2) AS avg_monthly_performance
FROM consumption
WHERE "Adj Close" <> ''
GROUP BY month
ORDER BY month;Thought: The query looks good. I can execute it to get the average monthly performance.

Action: sql_db_query
Action Input:
SELECT
    strftime('%Y-%m', Date) AS month,
    ROUND(AVG(CAST("Adj Close" AS FLOAT)), 2) AS avg_monthly_performance
FROM consumption
WHERE "Adj Close" <> ''
GROUP BY month
ORDER BY month;
Error: (sqlite3.OperationalError) no such column: Date
[SQL: SELECT
    strftime('%Y-%m', Date) AS month,
    ROUND(AVG(CAST("Adj Close" AS FLOAT)), 2) AS avg_monthly_performance
FROM consumption
WHERE "Adj Close" <> ''
GROUP BY month
ORDER BY month;
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)Oops, it seems the `consumption` table does not have a `Date` column. Let me revisit the schema.

Action: sql_db_schema
Action Input: consumption
CREATE TABLE consumption (
	"Price" TEXT,
	"Adj Close" TEXT,
	"Close" TEXT,
	"High" TEXT,
	"Low" TEXT,
	"Open" TEXT,
	"Volume" TEXT
)

/*
3 rows from consumption table:
Price	Adj Close	Close	High	Low	Open	Volume
Ticker	TSLA	TSLA	TSLA	TSLA	TSLA	TSLA
Date	None	None	None	None	None	None
2023-12-18	252.0800018310547	252.0800018310547	258.739990234375	251.36000061035156	253.77999877929688	116416500
*/Unfortunately, the consumption table does not seem to have a date or timestamp column that we can use to group the data by month. Without a date field, it's not possible to calculate the average monthly performance from this table alone.

One potential solution could be to join this table with another table that contains date information and then group by month from that joined table. However, since we only have access to the consumption table schema, I don't have enough information to construct that join query.

Final Answer: Based on the provided consumption table schema, it is not possible to calculate the average monthly performance as there is no date or timestamp column present to group the data by month.

> Finished chain.
{'sql_agent': {'messages': [HumanMessage(content='Based on the provided consumption table schema, it is not possible to calculate the average monthly performance as there is no date or timestamp column present to group the data by month.', additional_kwargs={}, response_metadata={})]}}
--------------------------------------------------